apiVersion: batch/v1
kind: Job
metadata:
  name: "kcp-kyma-environments-broker-archiver"
  namespace: kcp-system
spec:
  template:
    metadata:
      name: kyma-environments-broker-archiver-job
    spec:
      shareProcessNamespace: true
      serviceAccountName: kcp-kyma-environment-broker
      securityContext:
        runAsUser: 2000
      restartPolicy: Never
      containers:
        - name: kyma-environments-broker-archiver
          command: ["/bin/main"]
          image: europe-docker.pkg.dev/kyma-project/prod/kyma-environment-archiver-job:1.5.7
          imagePullPolicy: IfNotPresent
          env:
            - name: APP_LOG_LEVEL
              value: "debug"
            - name: APP_BATCH_SIZE
              value: "100"
            - name: APP_DRY_RUN
              value: "false"
            - name: APP_PERFORM_DELETION
              value: "true"
            - name: APP_DATABASE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: kcp-storage-client-secret
                  key: secretKey
                  optional: true
            - name: APP_DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: postgresql-broker-username
                  name: kcp-postgresql
            - name: APP_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: postgresql-broker-password
                  name: kcp-postgresql
            - name: APP_DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  key: postgresql-serviceName
                  name: kcp-postgresql
            - name: APP_DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  key: postgresql-servicePort
                  name: kcp-postgresql
            - name: APP_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  key: postgresql-broker-db-name
                  name: kcp-postgresql
            - name: APP_DATABASE_SSLMODE
              valueFrom:
                secretKeyRef:
                  key: postgresql-sslMode
                  name: kcp-postgresql
            - name: APP_DATABASE_SSLROOTCERT
              value: /secrets/cloudsql-sslrootcert/server-ca.pem
        - name: cloudsql-proxy
          image: ${SCRIPT_CLOUDSQL_PROXY_IMAGE}
          imagePullPolicy: IfNotPresent
          command: ${SCRIPT_CLOUDSQL_PROXY_COMMAND} # set by script
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - image: europe-docker.pkg.dev/kyma-project/prod/kyma-environment-archiver-job:1.10.30
