.DS_Store

# Dependency directories
testing/e2e/skr/node_modules/

testing/e2e/skr/junit_keb-e2e-skr.xml
testing/e2e/skr/config.yaml

.idea/

cmd/broker/catalog-test.json

bin

utils/edp-registrator/env.dev
utils/edp-registrator/env.prod
utils/edp-registrator/env.stage
utils/edp-registrator/edp
utils/edp-registrator/edp-subaccounts.json
utils/edp-registrator/operations.csv
utils/edp-registrator/skr-subaccounts.txt

vendor
debug